* {
    padding: 0;
    margin: 0;
}

body {
    background-color: darkslategray;
}

.app-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.weather-container {
    min-width: 25%;
    width: 300px;
    min-height: 25%;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    margin: 12px 0;
}

.get-location {
    border-radius: 5px;
    border: 1px solid black;
    padding: 2px 4px;
}

.temp-number {
    color: black;
}

#todays-temp-number {
    font-size: 48px;
}
