* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: darkslategray;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 12px;
}

.app-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.weather-container {
    min-width: 60%;
    width: 800px;
    min-height: 25%;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    margin: 12px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr 3fr);
    justify-items: center;
    align-content: center;
}

.get-location {
    border-radius: 5px;
    border: 1px solid black;
    padding: 2px 4px;
}

#city-title {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    padding: 8px 0 0 8px;
}

#icon-degrees-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#icon-degrees-box img {
    width: 100%!important;
}

.temp-number {
    color: black;
}

#todays-temp-number {
    font-size: 60px;
    font-weight: 600;
    padding-left: 18px;
}

#todays-weather-icon {
    padding-left: 12px;
    size: 50px!important;
}

.temp-container {
    grid-column: 0 / 3;
    grid-row: 2;
    /* border: 1px solid black; */
    /* width: fit-content; */
 
    display: flex;
    align-items: flex-start;
    /* justify-content: space-evenly; */
    gap: 20px;
    padding-top: 6px;
    
}

.aux-conditions,
#today-conditions-box {
    font-size: 12px;
    align-self: center;
}

.aux-conditions {
    display: flex;
    margin-bottom: 2px;
}

.aux-condition-data {
    margin-left: 2px;
}

.hourly-conditions {
    grid-row: 3;
    display: flex;
    gap: 12px;
    align-items: center;
}

#hourly-hours,
#hourly-container,
#forecast-container {
    display: flex;    
    border-top: 1px solid black;
    width: 100%;
    /* flex: 1 1 0px; */
    
}

#hourly-container {
    grid-row: 4;
    grid-column: 1 / 8;
    justify-content: space-around;

}

#hourly-hours > div > span,
#hourly-container > div > span {
    font-size: 12px;
}

#hourly-hours {
    grid-row: 5;
    grid-column: 1 / 8;
    width:100%;
    border: 1px solid black;
    justify-content: space-around;
    display: flex;
    flex-basis: 100%;
}

/* #hourly-legend {
    
} */

#forecast-container {
    grid-row: 6;
    grid-column: 1 / 8;
    justify-content: space-around;
    
}

.forecast-box {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.hourly-box {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.no-display {
    display: none;
}

.hourly-weather-icon {
    width:30px;
    align-items: center;
}

#hourly-hours > div:nth-of-type(3n + 1) > span {
    display: flex;
    /* font-size: 12px; */
}

.forecast-date {
    justify-self: baseline;
}

.temps-box {
    display: flex;
    align-items: end;
    gap: 4px;
}

.forecast-high {
    color: black;
    font-weight: 700;
    font-size: 16px;
}

.forecast-low {
    font-size: 14px;
}

.weather-icon {
    width: 45px;
}

